<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <h1>Delete Account</h1>
    <form action="/deleteAccount" method="post">
      <fieldset>
        <label>Username: <input type="text" name="username" /></label>
        <label>Password: <input type="text" name="password" /></label>
        <br /><br />
      </fieldset>
      <br />
      <button type="reset">Reset</button>
      <button type="sumbit">Delete</button>

      <h3> <%=message%></h3>
    </form>
    <hr />
    <a href="/">HOME</a>
  </body>
</html>
