<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/js/script.js" defer></script>
  </head>

  <body>
    <h1>Hello, <%= name %></h1>
    <p>
      <em>Welcome to your dashboard</em>
      <button type="button" onclick="generateJoke()">Generate Joke</button>
      <br>
      <button type="button" onclick="deleteJokes()">Delete All Jokes</button>
      <br>
      <button type="button" onclick="viewJokes()">View Saved Jokes</button>
      <br>
      <button type="button" onclick="logout()">Logout</button>
      <br><br>
      <div id="textZone"></div>
      <br>
      <button type = "button" onclick="saveJoke()">Save Joke</button>
    </p>
  </body>
</html>
